In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
event_data = pd.read_csv('event_data_train.zip')

In [ ]:
# В процессе решения одной аналитической задачи очень часто замечаешь и 
# другие задачи, связанные с исследуемым вопросом. В свое время, 
# работая над предсказанием оттока студентов со stepik, я многое изменил 
# в структуре своих курсов. 

# Тогда я нашел довольно интересную закономерность прохождения онлайн 
# курсов. Слушатели онлайн курсов очень негативно реагируют на невозможность
# решить задачу, иными словами, если студент застрял на определенном шаге, 
# то он, с высокой вероятность, вообще бросит курс, чем просто пропустит этот 
# шаг и продолжит обучение. 

# Давайте найдем такой стэп, используя данные о сабмитах. Для каждого пользователя
# найдите такой шаг, который он не смог решить, и после этого не пытался решать 
# другие шаги. Затем найдите id шага,  который стал финальной точкой практического
# обучения на курсе для максимального числа пользователей. 

# То есть мы исследуем следующий сценарий: человек решает стэп, не может получить
#     правильный ответ и больше не возвращается к практическим задачам. Что это за
#     шаг такой, который отпугнул максимальное число пользователей?

In [11]:
event_data.action.unique()

array(['viewed', 'passed', 'discovered', 'started_attempt'], dtype=object)

In [12]:
submissions_data = pd.read_csv('submissions_data_train.zip')

In [14]:
submissions_data

        step_id   timestamp submission_status  user_id
0         31971  1434349275           correct    15853
1         31972  1434348300           correct    15853
2         31972  1478852149             wrong    15853
3         31972  1478852164           correct    15853
4         31976  1434348123             wrong    15853
...         ...         ...               ...      ...
509099   120745  1501946959             wrong     2615
509100   120745  1503059927           correct    13177
509101   120745  1506348153             wrong    15253
509102   120745  1523035316             wrong     1424
509103   120745  1523382825             wrong     9422

[509104 rows x 4 columns]

In [15]:
submissions_data.submission_status.unique()

array(['correct', 'wrong'], dtype=object)

In [17]:
wrong_answers = submissions_data[submissions_data.submission_status == 'wrong']

In [18]:
wrong_answers

        step_id   timestamp submission_status  user_id
2         31972  1478852149             wrong    15853
4         31976  1434348123             wrong    15853
15        32031  1434363465             wrong    15853
33        32795  1434520465             wrong    15853
38        32812  1434346160             wrong    15853
...         ...         ...               ...      ...
509096   120745  1500154509             wrong     3310
509099   120745  1501946959             wrong     2615
509101   120745  1506348153             wrong    15253
509102   120745  1523035316             wrong     1424
509103   120745  1523382825             wrong     9422

[286399 rows x 4 columns]

In [35]:
wrong_answers.groupby('step_id')['step_id'].agg(['count']).sort_values(by = 'count')

         count
step_id
32929       85
32175      342
33362      673
33681      703
33482      707
...        ...
32075    10003
33481    10300
32202    13002
32031    13373
31978    16084

[76 rows x 1 columns]